@use 'global';

.section_about {
  margin-top: 100px;
  width: 100%;
  display: flex;
  justify-content: center;

  .about {
    padding: 20px;
    width: 80%;
    display: grid;
    grid-template-columns: repeat(2 , 1fr);

    .about--text {
      padding: 10px;

      h1 {
        font-size: 40px;
        font-family: global.$primary-font;
        margin-bottom: 30px;

        span {
          color: global.$primary-color;
          text-transform: uppercase;
        }
      }

      @media (max-width: 899px) {
        h1 {
          font-size: 2rem;
        }
      }

      p {
        font-family: global.$primary-font;
        font-size: 16px;
        font-weight: 400;
        letter-spacing: 0.08rem;
      }

      .about--text_line {
        margin-top: 100px;
        width: 100%;
        border: 2px solid #222;
      }
    }

    .about--img {
      flex: 1;
      position: relative;
      height: 400px;

      .about--img1,
      .about--img2 {
        width: 250px;
        position: absolute;
        
      }

      .about--img1 {
        right: 10%;
      }
      
      .about--img2 {
        right: 30%;
        bottom: 0;
      }
    }
  }

  @media (max-width: 899px) {
    .about {
      grid-template-columns: repeat(1 ,1fr);
    }
  }
}

